body{
	background-image: url("rockinhomer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#symbol{
	margin-left: 3%;
}

#jbox{
	margin: 0 auto;
	height: 41px;
	width: 21%;
	border: solid 5px black;
	margin-right: 11%;
    margin-top: 10%;
}

#jbox-bot{
	width: 21%;
	border: solid 5px black;
	height: 250px;
	margin: 0 auto;
	margin-right: 11%;
    text-align: center;
}

#butt{
	text-align: center;
}

#playSong, #pauseSong, #stopSong{
	border-radius: 45%;
	width: 30%;
	height: 40px;
	font-size: 122%;
}

#nextSong{
	width: 76%;
	font-size: 132%;
	border-radius: 40%;
}

#volumeUp{
	border-radius: 40%;
	width: 44%;
	height: 15%;
	font-size: 118%;
}

#volumeDown{
	border-radius: 38%;
	width: 52%;
	height: 15%;
	font-size: 118%;
}
