body{
	background-image: url("rockinhomer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#symbol{
	margin-left: 3%;
}

#jbox{
	margin: 0 auto;
	height: 41px;
	width: 21%;
	border: solid 5px black;
	margin-right: 11%;
    margin-top: 10%;
}

#jbox-bot{
	width: 21%;
	border: solid 5px black;
	height: 250px;
	margin: 0 auto;
	margin-right: 11%;
    text-align: center;
}

#butt{
	text-align: center;
}

#playSong, #pauseSong, #stopSong{
	border-radius: 45%;
	width: 30%;
	height: 40px;
	font-size: 122%;
	text-align: center;
}

#prevSong, #nextSong, #volumeUp, #volumeDown{
	width: 44%;
	height: 15%;
	font-size: 118%;
	border-radius: 40%;
	text-align: center;
}

@media (max-width: 767px){
	#jbox{
		height: 25%;
		width: 24%;
	}

	#jbox-bot{
		width: 24%;
	}

	#playSong, #pauseSong, #stopSong{
		border-radius: 45%;
		width: 42%;
		height: 10%;
		font-size: 76%;
		text-align: center;
	}

	#nextSong{
		width: 76%;
		font-size: 96%;
		border-radius: 50%;
		text-align: center;
	}

	#volumeUp{
		border-radius: 74%;
		font-size: 82%;
		text-align: center;
	}

	#volumeDown{
		border-radius: 50%;
		font-size: 78%;
		text-align: center;
	}

}

@media (max-width: 400px){
	body{
		background-image: url("rockinhomermobile.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	#jbox {
	    margin: 0 auto;
	    height: 84px;
	    width: 38%;
	    border: solid 2px black;
	    margin-left: 0%;
	    margin-top: 96%;
	    text-align: center;
	}

	#jbox-bot {
	    width: 38%;
	    border: solid 2px black;
	    height: 10%;
	    margin: 0 auto;
	    margin-left: 0%;
	    text-align: center;
	}

	#symbol{
		display: none;
	}

	#playSong, #pauseSong, #stopSong{
		border-radius: 45%;
		width: 42%;
		height: 40px;
		font-size: 78%;
		text-align: center;
	}

	#nextSong{
		width: 76%;
		font-size: 96%;
		border-radius: 50%;
		text-align: center;
	}

	#volumeUp{
		border-radius: 74%;
		font-size: 84%;
		text-align: center;
	}

	#volumeDown{
		border-radius: 50%;
		font-size: 80%;
		text-align: center;
	}

}



