body{
	background-image: url("rockinhomer.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#symbol{
	margin-left: 3%;
}

#jbox{
	margin: 0 auto;
	width: 21%;
	height: 41px;
	border: solid 5px black;
	margin-right: 11%;
    margin-top: 10%;
}

#jbox-bot{
	margin: 0 auto;
	width: 21%;
	height: 250px;
	border: solid 5px black;
	margin-right: 11%;
    text-align: center;
}

#butt{
	text-align: center;
}

#playSong, #pauseSong, #stopSong{
	border-radius: 45%;
	width: 32%;
	height: 40px;
	font-size: 122%;
	background-color: #D3D3D3;
	text-align: center;
}

#prevSong, #nextSong, #volumeUp, #volumeDown{
	width: 44%;
	height: 15%;
	font-size: 118%;
	border-radius: 40%;
	background-color: #D3D3D3;
	text-align: center;
}

@media (max-width: 1025px){
	#jbox, #jbox-bot{
		margin-right: 7%
	}

	#playSong, #pauseSong, #stopSong{
		font-size: 98%;
		background-color: #D3D3D3;
	}

	#nextSong, #prevSong, #volumeUp, #volumeDown{
		background-color: #D3D3D3;
	}
}

@media (max-width: 775px){
	#jbox, #jbox-bot{
		width: 24%;
		margin-left: 4%;
	}

	#jbox{
		margin-top: 86%;
		height: 25%;
	}

	#playSong, #pauseSong, #stopSong{
		border-radius: 45%;
		width: 46%;
		height: 10%;
		font-size: 76%;
		background-color: #D3D3D3;
		text-align: center;
	}

	#nextSong, #prevSong, #volumeUp, #volumeDown{
		width: 44%;
		font-size: 90%;
		border-radius: 50%;
		background-color: #D3D3D3;
		text-align: center;
	}
}

@media (max-width: 675px){
	body{
		background-image: url("rockinhomer.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	
	#symbol{
		margin: 0 auto;
		height: 80%;
		width: 56%;
	    margin-right: 14%;
    	margin-left: 12%;
	}

	#jbox, #jbox-bot{
		width: 24%;
		margin-left: 62%;
	}

	#jbox{
		margin-top: 10%;
	}

	#jbox-bot{
		height: 25%;
	}

	#playSong, #pauseSong, #stopSong{
		background-color: #D3D3D3;
	}

	#nextSong, #prevSong, #volumeUp, #volumeDown{
		font-size: 78%;
		background-color: #D3D3D3;
	}
}

@media (max-width: 575px){
	body{
		background-image: url("rockinhomer.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	#symbol{
		margin: 0 auto;
		height: 80%;
		width: 40%;
	    margin-right: 14%;
    	margin-left: 12%;
	}

	#jbox, #jbox-bot{
		width: 24%;
		margin-left: 62%;
	}

	#jbox{
		margin-top: 10%;
	}

	#jbox-bot{
		height: 25%;
	}

	#playSong, #pauseSong, #stopSong{
		background-color: #D3D3D3;
	}

	#nextSong, #prevSong, #volumeUp, #volumeDown{
		font-size: 78%;
		background-color: #D3D3D3;
	}
}

@media (max-width: 400px){
	body{
		background-image: url("rockinhomermobile.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	#jbox {
	    margin: 0 auto;
	    height: 50px;
	    width: 38%;
	    border: solid 2px black;
	    margin-left: 0%;
	    margin-top: 106%;
	    text-align: center;
	}

	#jbox-bot {
	    width: 38%;
	    border: solid 2px black;
	    margin: 0 auto;
	    margin-left: 0%;
	    text-align: center;
	}

	#playSong, #pauseSong, #stopSong{
		border-radius: 45%;
		font-size: 78%;
		background-color: #D3D3D3;
		text-align: center;
	}

	#volumeDown, #volumeUp, #nextSong, #prevSong{
		width: 44%;
		border-radius: 50%;
		font-size: 78%;
		background-color: #D3D3D3;
		text-align: center;
	}

	#symbol{
		margin: 0 auto;
		height: 80%;
		width: 40%;
	    margin-right: 14%;
    	margin-left: 12%;
	}

	#pauseSong{
		padding-left: 4px;
	}
}



